/* .form-container {
  height: 380px;
  width: 780px;
  margin: 0 auto;
  background-color: #fff;
}

.form-header {
  height: 64px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-number {
  width: 40px;
  height: 64px;
  background-color: #25a575;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} */
